@import url(./header.css);
@import url(./footer.css);
:root{
  --color1: #ff971e;
  --color2: #19181c;
}

.img__hero{
  display:  flex;
  padding: 0%;
}

.img__hero img{
  width: 50%;
  margin: 0 auto;
  border: 3px solid var(--color1);
  padding: 0px;
}
.hero{
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
}

.txt__hero{
  font-size: x-large;
  font-family: poppins;
}

.titulo{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
  font-size: xxx-large;
}

.titulo::before{
  content: '<';
  width: 100px  ;
  height: 3px;
  color: var(--color1);
}
.titulo::after{
  content: '/>';
  width: 100px  ;
  height: 3px;
  color: var(--color1);
}

/*============================*/
.oque_fazemos{
  margin-top: 60px;
}

.img__OQF{
  width: 500px; /* width of container */
  height: 300px; /* height of container */
  background: url(../imgs/hacker.jpg) center no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-right: 30px;
}

.img2__OQF{
  width: 500px; /* width of container */
  height: 300px; /* height of container */
  background: url(../imgs/cadeado.jpg) center no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-left: 30px;
}

.conteudo2__OQF{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
  font-family: 'poppins';
  font-size: x-large;
}
.conteudo1__OQF{
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'poppins';
  font-size: x-large;
}

.img__OQF img{
  width: 100%;
}

.txt__OQF{
  display: flex;
  justify-content: center;
  align-content: center;
}

.contato__OQF{
  display:  flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.contato__OQF a button{
  font-size: x-large;
}

.btn{
  color:var(--color1);
  border: 2px var(--color1) solid;
  font-family: poppins;
  background-color: var(--color2);
}
.btn:hover{
  background-color: var(--color1);
  color: #19181c;
}

@media (max-width: 767.98px) {
  .img__hero{
    margin-bottom: 60px;
  }
  .txt__hero{
    text-align: center;
  }

  }